.gridster * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
}


/*/
/* demo
/*/


body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #66FFFF;
    background-color: #C0C0C0;
    margin: 30px 40px;
    /*background-image:url('bg.png');*/
}

.controls {
    margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
    background-color: #FF9933;
    /*background-image:url('cork.jpg');*/
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}


.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    border-radius: 43px;
    border:3px solid #2A6116;
    background-color:#E332A2;
   /* -webkit-box-shadow: #B3B3B3 26px 26px 26px;
    -moz-box-shadow: #B3B3B3 26px 26px 26px; 
    box-shadow: #B3B3B3 26px 26px 26px;*/
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}
